UserManagementApi/bin/Debug/net9.0/appsettings.Development.json
UserManagementApi/bin/Debug/net9.0/appsettings.json
UserManagementApi/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.InMemory.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
UserManagementApi/bin/Debug/net9.0/Microsoft.OpenApi.dll
UserManagementApi/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
UserManagementApi/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
UserManagementApi/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
UserManagementApi/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
UserManagementApi/bin/Debug/net9.0/UserManagementApi.deps.json
UserManagementApi/bin/Debug/net9.0/UserManagementApi.dll
UserManagementApi/bin/Debug/net9.0/UserManagementApi.exe
UserManagementApi/bin/Debug/net9.0/UserManagementApi.pdb
UserManagementApi/bin/Debug/net9.0/UserManagementApi.runtimeconfig.json
UserManagementApi/bin/Debug/net9.0/UserManagementApi.staticwebassets.endpoints.json
UserManagementApi/obj/project.assets.json
UserManagementApi/obj/project.nuget.cache
UserManagementApi/obj/UserManagementApi.csproj.nuget.dgspec.json
UserManagementApi/obj/UserManagementApi.csproj.nuget.g.props
UserManagementApi/obj/UserManagementApi.csproj.nuget.g.targets
UserManagementApi/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
UserManagementApi/obj/Debug/net9.0/apphost.exe
UserManagementApi/obj/Debug/net9.0/c01ccdbc-f303-477b-a7c0-ad75c143e233_UserManagementApi.pdb
UserManagementApi/obj/Debug/net9.0/rbcswa.dswa.cache.json
UserManagementApi/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
UserManagementApi/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
UserManagementApi/obj/Debug/net9.0/rpswa.dswa.cache.json
UserManagementApi/obj/Debug/net9.0/staticwebassets.build.endpoints.json
UserManagementApi/obj/Debug/net9.0/staticwebassets.build.json
UserManagementApi/obj/Debug/net9.0/staticwebassets.build.json.cache
UserManagementApi/obj/Debug/net9.0/UserMana.5F5CA308.Up2Date
UserManagementApi/obj/Debug/net9.0/UserManagementApi.AssemblyInfo.cs
UserManagementApi/obj/Debug/net9.0/UserManagementApi.AssemblyInfoInputs.cache
UserManagementApi/obj/Debug/net9.0/UserManagementApi.assets.cache
UserManagementApi/obj/Debug/net9.0/UserManagementApi.csproj.AssemblyReference.cache
UserManagementApi/obj/Debug/net9.0/UserManagementApi.csproj.CoreCompileInputs.cache
UserManagementApi/obj/Debug/net9.0/UserManagementApi.csproj.FileListAbsolute.txt
UserManagementApi/obj/Debug/net9.0/UserManagementApi.dll
UserManagementApi/obj/Debug/net9.0/UserManagementApi.GeneratedMSBuildEditorConfig.editorconfig
UserManagementApi/obj/Debug/net9.0/UserManagementApi.genruntimeconfig.cache
UserManagementApi/obj/Debug/net9.0/UserManagementApi.GlobalUsings.g.cs
UserManagementApi/obj/Debug/net9.0/UserManagementApi.MvcApplicationPartsAssemblyInfo.cache
UserManagementApi/obj/Debug/net9.0/UserManagementApi.MvcApplicationPartsAssemblyInfo.cs
UserManagementApi/obj/Debug/net9.0/UserManagementApi.pdb
UserManagementApi/obj/Debug/net9.0/ref/UserManagementApi.dll
UserManagementApi/obj/Debug/net9.0/refint/UserManagementApi.dll
